:root {
  --white: #FFFFFF;
  --bs-default: #0267C1;
  --body: #E6E6E6;
  --bs-main: #252525CC;
  --bs-blue: #0075C4;
  --bs-yellow: #EFA00B;
  --bs-orange: #D65108;
  --bs-maroon: #591F0A;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Variable', sans-serif;
}

body {
  background-color: var(--body);
}

::selection {
  background: none;
}